html{
    background-color: rgb(240, 246, 250);   
    background-image: url("./stacked-steps-haikei.png");  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

/* h1{
    text-shadow: 2px 2px rgb(254, 243, 199);
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .font-outline-2 {
      -webkit-text-stroke: 1px rgb(254, 243, 199);
    }
    .font-outline-4 {
      -webkit-text-stroke: 1px black;
    }
  }