body{
    /* background-color: white; */
    /* background: url("./marble.png"); 
    background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; 
opacity: .5; */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
